body {
	background-color: #eee;
}

.demo-card-wide.mdl-card {
  width: 550px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 100px;
  background-color: #FF9800;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.myStyle {
	margin: 0 auto;
	width: 40%;
	transform: translate(0%, 3%);
}

.playpausebtn.disabled{
	background-color: grey;
}

.active{
	color: #d8b600 !important;
}

/*Scrubber Styling*/
input[type=range].scrubber {
  -webkit-appearance: none;
  width: 100%;
  margin: 0px 0;
}
input[type=range].scrubber:focus {
  outline: none;
}
input[type=range].scrubber::-webkit-slider-runnable-track {
  width: 100%;
  height: 32px;
  cursor: pointer;
  box-shadow: 0px 0px 10.4px rgba(239, 108, 0, 0.68), 0px 0px 0px rgba(255, 120, 10, 0.68);
  background: #ffcc80;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].scrubber::-webkit-slider-thumb {
  box-shadow: 0.8px 0.8px 1.9px rgba(255, 167, 38, 0.67), 0px 0px 0.8px rgba(255, 177, 64, 0.67);
  border: 1.9px solid rgba(0, 30, 0, 0.52);
  height: 32px;
  width: 32px;
  border-radius: 4px;
  background: #f57c00;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range].scrubber:focus::-webkit-slider-runnable-track {
  background: #ffce85;
}
input[type=range].scrubber::-moz-range-track {
  width: 100%;
  height: 32px;
  cursor: pointer;
  box-shadow: 0px 0px 10.4px rgba(239, 108, 0, 0.68), 0px 0px 0px rgba(255, 120, 10, 0.68);
  background: #ffcc80;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].scrubber::-moz-range-thumb {
  box-shadow: 0.8px 0.8px 1.9px rgba(255, 167, 38, 0.67), 0px 0px 0.8px rgba(255, 177, 64, 0.67);
  border: 1.9px solid rgba(0, 30, 0, 0.52);
  height: 32px;
  width: 32px;
  border-radius: 4px;
  background: #f57c00;
  cursor: pointer;
}
input[type=range].scrubber::-ms-track {
  width: 100%;
  height: 32px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].scrubber::-ms-fill-lower {
  background: #ffca7b;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 10.4px rgba(239, 108, 0, 0.68), 0px 0px 0px rgba(255, 120, 10, 0.68);
}
input[type=range].scrubber::-ms-fill-upper {
  background: #ffcc80;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 10.4px rgba(239, 108, 0, 0.68), 0px 0px 0px rgba(255, 120, 10, 0.68);
}
input[type=range].scrubber::-ms-thumb {
  box-shadow: 0.8px 0.8px 1.9px rgba(255, 167, 38, 0.67), 0px 0px 0.8px rgba(255, 177, 64, 0.67);
  border: 1.9px solid rgba(0, 30, 0, 0.52);
  width: 32px;
  border-radius: 4px;
  background: #f57c00;
  cursor: pointer;
  height: 32px;
}
input[type=range].scrubber:focus::-ms-fill-lower {
  background: #ffcc80;
}
input[type=range].scrubber:focus::-ms-fill-upper {
  background: #ffce85;
}

/*End scrubber Styling*/

@media only screen and (max-device-width: 800px){
	.demo-card-wide{
		width: 100%;
	}
	.mdl-card{
		width: 100%;
	}
	.demo-card-wide.mdl-card{
		width: 100%;
	}
}
